@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --primary-color-pale-blue: hsl(225, 100%, 94%);
    --primary-color-bright-blue: hsl(245, 75%, 52%); 

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturate-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0.2rem 0 0.5rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url('/img/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary-color-pale-blue);
}

h1, h2 {
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--dark-blue);
}

h2 {
    font-size: 1rem;
}


a {
    text-decoration: none;
    font-weight: 900;
    font-size: 0.9rem;
    color: var(--primary-color-bright-blue);
}



.container{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: rgba(114, 128, 167, 0.09) 0px 2px 1px, rgba(114, 128, 167, 0.09) 0px 4px 2px, rgba(114, 128, 167, 0.09) 0px 8px 4px, rgba(114, 128, 167, 0.09) 0px 16px 8px, rgba(114, 128, 167, 0.09) 0px 32px 16px;
}

.hero_img,
.price_icon > img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.content{
    display: flex;
    padding: 10% 12%;
    text-align: center;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    gap: 1.5rem;
}

.text_content p{
    font-size: 1rem;
    color: var(--desaturate-blue);
    line-height: 1.6rem;
}

.text_content{
    display: flex;
    padding: 0 0.5rem;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.price_container,
.price_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--very-pale-blue);
}

.price_container{
    padding: 7%;
}

.price_info{
    gap: 0.5rem;
}

.price_change > a {
    text-decoration: underline;
}

.price_box > p {
    font-size: 1.05rem;
    color: var(--desaturate-blue);
    padding-top: 7%;
}

.price_icon > img{
    max-width: 85%;
}

button{
    color: white;
    background-color: var(--primary-color-bright-blue);
    font-weight: 700;
    font-size: 0.95rem;
    border-radius: 0.6rem;
    border: none;
    -webkit-box-shadow: 0px 20px 7px 0px var(--primary-color-pale-blue); 
    box-shadow: rgba(56, 41, 224, 0.22) 0px 19px 38px, rgba(56, 41, 224, 0.22) 0px 15px 12px;
    padding: 4%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover{
    background-color: var(--dark-blue);
}

.cancel_order{
    color: var(--desaturate-blue);
}


@media  screen and (max-width: 576px){
    body {
        padding: 0;
        background-image: url(/img/pattern-background-mobile.svg');
    }

    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 0.8rem;
    }

    .container{
        max-width: 310px;
    }

    .content{
        padding: 10% 7%;
    }

    .text_content > p{
        font-size: 0.95rem;
    }

    .price_box > p {
        font-size: 0.8rem
    }

    button{
        font-size: 0.9rem;
        padding: 6%;
    }

    .cancel_order{
        font-size: 1rem;
    }}